<ion-header class="header-style">
<ion-row>
  <ion-col col-2>
    <button ion-button class="header-button" (click)="homeFromOne()" clear icon-only float-left><ion-icon name="md-arrow-back" class="header-icon"></ion-icon></button>
  </ion-col >
  <ion-col col-8>
      <ion-label class="header-font">About Me</ion-label>
  </ion-col>
  <ion-col col-2 >
      <button ion-button class="header-button" (click)="openMenuOne()" clear icon-only float-right><ion-icon name="md-create" class="header-icon"></ion-icon></button>
  </ion-col>
</ion-row>
</ion-header>

<ion-content padding>

  <ion-card *ngFor= "let bio of bioArray | async">
    <h3 class="card-style-border-bottom"> </h3>
    <h3 class="card-style-middle">Name: {{bio.name}}</h3>
    <h3 class="card-style-middle">Age: {{bio.age}}</h3>
    <h3 class="card-style-middle">Gender: {{bio.gender}}</h3>
    <h3 class="card-style-border-bottom">Allergies: {{bio.allergies}}</h3>
  </ion-card>

    <ion-card *ngFor= "let note of aboutMeArray | async" (click)="getNote(note.createDate)">
      <img [src]= note.img style="width: 100%" [hidden]="note.img == null">
      <h3 class="card-style-border-top">Title: {{note.title}}</h3>
      <h3 class="card-style-middle">Date: {{note.date | date}}</h3>
      <h3 class="card-style-border-bottom">Content: {{note.content}}</h3>
    </ion-card>
   
</ion-content>
