page-add-medication {
    .header-style{
        background: #19a9b8;
        height: 65px;
    }
    .login-style{
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 7px;
    }
    .header-font{
        color: #ffffff;
        font-size: 25px;
        vertical-align: bottom;
        text-align: center;
    }
}
