<ion-header>
  <ion-navbar>
    <ion-title>Add Note</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button type="sbumit" class="login-style" color="secondary" (click)="takePicture()" full>Add a picture</button>
  <img [src]="displayImage" style="width:100%" [hidden]="displayImage === null">

  <form [formGroup] = "formGroup" (ngSubmit) = "saveNote(formGroup.value)">
    
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" name="title" formControlName="title" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">
        {{titleAlert}}
      </div>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Comments" type="text" name="content" formControlName="content" rows="4" required></ion-textarea>
      <div class="alert" *ngIf="!formGroup.controls['content'].valid && formGroup.controls['content'].touched">
        {{contentAlert}}
      </div>
    </ion-item>

    <button ion-button type="submit" [disabled]="!formGroup.valid" class="login-style" color="secondary" full>Save Note</button>
  </form>
</ion-content>
