page-home {
    .header-style{
        background: #19a9b8;
        height: 65px;
    }
    .header-font{
        color: #ffffff;
        font-size: 25px;
        vertical-align: bottom;
        text-align: center;
    }
    .header-button{
        background: none;
        font-size: 20px;
        //font-weight: bold;
        vertical-align: middle;
        height: 40px;
    }

    .header-icon{
        color: #ffffff;
    }


    .nav-style{
        font-weight: bold;
        color: #174055;
        font-size: 1.1em;
        height: 1000 px;
    }

    .icon-style{
        font-weight: bold;
        color: #174055;
        font-size: 1.2em;
    }
}
