page-edit-ability {
    .header-style{
        background: #19a9b8;
        height: 65px;
    }
    .header-font{
        color: #ffffff;
        font-size: 25px;
        vertical-align: bottom;
        text-align: center;
    }

}
